.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--main-bg-color);
  padding-top: 30px;
  padding-bottom: 20px;
}
.contact-title{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.contact-title > h2{
  font-size: 2em;
  margin-left: 0;
}
.contact-title > p{
  max-width: 90ch;
  padding-inline: 25px;
}

.contact-types {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-types > div {
  
  display: flex;
  align-items:center;
  font-weight: 700;
  width: 100%;
  padding: 20px 0;
}
.contact-types span {
  margin-left: 10px;
}