/* Styling the menu button */
.menu-btn {
  position: relative;
  z-index: 3;
  top: 20px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

/* Styling the position of the menu icon */
.menu {
  
  position: relative;
  top: 60px;
  left: -300px;
  height: 310px;
  width: 300px;
  opacity: 0.9;
  visibility: hidden;
  background:  #28a745;
}

.menu.show {
  visibility: visible;
}
.menu-nav {
  list-style-type: none;
  padding: 0;
}
.menu-nav a{
  color: white;
  font-size: 1.2em;
    font-weight: 700;
    line-height: 1.1;
  text-decoration: none;
}
.menu-branding{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.menu-branding img{

  height: 170px;

}


/* Styling the hamburger lines */
.menu-btn .btn-line { 
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: white;
  transition: all 0.5s ease-out;
}

/* Adding transform to the X */
.menu-btn.close {
  transform: rotate(180deg) translateY(41px);
}

/* Styling the three lines to make it an X */
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}